*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #152938;
    font-family: Atkinson Hyperlegible;
}

.title{
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    color: #FCFCFC;
    align-items: center;
    vertical-align: top;
    display: flex;
    justify-content: center;
    margin: 80px 40px;
}

#maingroup{
    margin: 0 24px 116px 24px;
    padding: 24px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 10px;
}

.grp {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.topic {
    color:#7191A5;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    line-height: 100%;
    vertical-align: top;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button1{
    background-color: #304859;
    border: none;
    border-radius: 26px;
    height: 40px;
    width: 134px;
    color: #FCFCFC;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
}
.button2{
    background-color: #304859;
    border: none;
    border-radius: 26px;
    height: 40px;
    width: 62px;
    color: #FCFCFC;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
}
.button3{
    background-color: #FDA214;
    border: none;
    border-radius: 26px;
    height: 48px;
    width: 279px;
    color: #FCFCFC;
    font-size: 18px;
    align-items: center;
    font-weight: 700;
}
.start{
    display: flex;
    margin:auto
}

#section2 {
    background-color: #FCFCFC;
    margin: 222px 24px;
    gap: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.button4{
    background-color: #DFE7EC;
    border: none;
    border-radius: 26px;
    height: 48px;
    width: 279px;
    color: #304859;
    font-size: 18px;
    align-items: center;
    font-weight: 700;
}

#grpbottom{
    margin: 573px 24px 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grpbottom1{
    width: 151px;
    height: 70px;
    background-color: #DFE7EC;
    padding: 10px 31px 9px 35px;
}

.grpinside{
    display: flex;
    flex-direction: column;
}
.stext {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    color: #7191A5;
    font-weight: bold;
    line-height: 19px;
}